html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

.top {
  display: block;
  border-style: solid;
  border-color: #E9E9E9;
  border-width: thin;
  border-left: none;
  border-right: none;
  border-top: none;
}
.topwords {
  display:inline-block;
  margin-left: 1%;
}
.logo {
  display: inline-block;
  float: left;
  width: 5.5%;
  margin-left: 2%;
  margin-top: 1%;
}
.dcc {
  font-size: 128%;
}
.search {
  background-color: none;
  display: inline-block;
  width: 80%;
}
.search input[type=text] {
  float: right;
  padding: 6px;
  padding-left: 1%;
  border-style: solid;
  border-color: #E9E9E9;
  border-width: thin;
  font-size: 17px;
  border-radius: 5px;
  width: 40%;
}

.menu {
  display: block;
  padding-left: 2%;
  width: 100%;
  background-color: white;
  border-style: solid;
  border-color: #E9E9E9;
  border-width: thin;
  border-left: none;
  border-right: none;
  border-top: none;
}
.dropdown {
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
}
.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-size: 80%;

}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {
  background-color: white;
}

.left {
  display: inline-block;
  float: left;
  width: 40%;
  margin-top: 10%;
  margin-left: 10%;
}
.diagonal-box {
    width: 100%;
    height: 100vh;
    background: #0f8a9d;
    background: linear-gradient(45deg, #FFB94D, #FF9494);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    display: inline-block;
}
.crowdsourcingimage{
  width: 60%;
  display: inline-block;
  margin-top: -38%;
  margin-left: 40%;
}
.whatis{
  display: block;
  margin-top: 10%;
  color: white;
  font-size: 300%;
}
.line {
  border: none;
  padding: .2%;
  background-color: white;
  width: 100%;
  display: block;
}
.p1 {
  display: block;
  color: white;
  font-size: 150%;
  width: 70%;
  margin-top: 10%;
  font-weight:
}

.umdtitle{
  margin-bottom: 5%;
}
.meetthestaff{
  font-size: 100%;
}
.staff {
  text-align: center;
  margin-top: 10%;
}
.staffline {
  border: none;
  width: 8%;
  padding: .2%;
  background-color: yellow;
  margin-bottom: 5%;
}
.victoria {
  text-align: left;
  background-color: none;
  width: 30%;
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  height: 30%;
}
.vimage {
  background-color: red;
  width: 100%;
}
.fimage {
  width: 100%;
}
.vword {
  font-weight: bold;
  letter-spacing: 1px;
}
.vword2 {
  letter-spacing: 3px;
  font-size: 70%;
}
.vword3 {
  font-weight: lighter;
  line-height: 30px;
  font-size: 80%;
  margin-top: 5%;
}

.slideshow-container {
  width: 70%;
  background-color: black;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.mySlides {
  display: none;

}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.land {
  text-align: center;
  display: block;
  background color: white;
  box-shadow: 12px 12px 30px 1px rgba(255,127,80, .2);
  padding-top: 5%;
  padding-bottom: 5%;
  width: 80%;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 10%;
}
.marylandimage {
  width: 35%;
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
}
.landwords {
  display: inline-block;
  text-align: left;
  width: 40%;
  margin-left: 35%;

}
.landp {
  color: black;
  font-size: 140%;
}
.landtitle {
  color: black;
  font-size: 300%;
}
.landline {
  border: none;
  padding: .2%;
  background-color: black;
  width: 100%;
  display: block;
}


.footer{
  text-align:center;
  background-color: #3F404A;
  padding-bottom: 2%;
  padding-top: 2%;
}
.footertext {
  color: #959595;
}
.umd {
  display: block;
  text-align: center;
  margin-left: 42%;
  margin-top: 1%;
}


.scuatitle {
  margin-top: 10%;
  margin-left: 10%;
}
.scuap {
  width: 60%;
  font-size: 140%;
  letter-spacing: 1px;
  margin-left: 10%;
}
.scualine {
  border: none;
  padding: .08%;
  background-color: white;
  width: 60%;
  display: block;
  margin-right: 29.5%;
}
.scuawords {
  width: 100%;
  height: 80vh;
  background: #0f8a9d;
  background: linear-gradient(45deg, #FFB94D, #FF9494);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  display: inline-block;
  color: white;
}
.hornbake {
  width: 100%;
  padding-bottom: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
  margin-bottom: 30%;
}
.absolute {
  width: 65%;
  padding: 2%;
  padding-left: 5%;
  background-color: white;
  position: absolute;
  margin-left: 15%;
  margin-top: 55%;
  box-shadow: 12px 12px 30px 1px rgba(0, 0, 255, .2);
}
.scuaimage {
  width: 40%;
  display: inline-block;
  float:right;
  background-color: #FFB94D;
  padding: 3%;
  padding-left: 7%;
  padding-right: 7%;
}
.visit {
  display: block;
  text-align: left;
  font-size: 200%;
}
.scuabutton {
  display: block;
  background-color: #FFB94D;
  color: white;
  border-radius: 20px;
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
}
.scuabutton:hover{
  background-color: pink;
  color: black;
}
.visitlink {
  display: inline-block;
  text-align: center;
  margin-top: 6%;
}


.row1 {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 3%;
}
.profile {
  width: 20%;
  box-shadow: 12px 12px 30px 1px rgba(0, 0, 255, .2);
  border-radius: 20px;
  display: inline-block;
  margin-top: 2%;
  padding-bottom: 2%;
  background-color: white;
}
.profileimage {
  width: 100%;
}
.row2 {
  text-align: center;
  display: block;
  width: 100%
}
.row3 {
  text-align: center;
  display: block;
  width: 100%
}
.row4 {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 5%;
}
.profilebio {
  font-size: 80%;
  padding-bottom: 2%;
}
.profiletitle {
  font-size: 60%;
}


.creative {
  width: 70%;
  border-style: solid;
  border-color: #E9E9E9;
  border-width: thin;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
  padding-bottom: 9%;
  margin-bottom: 5%;

}
.thumbnailone {
  width: 30%;
  display: inline-block;
  float:left;
}
.creativewords {
  display: inline-block;
  margin-left: 2%;
  margin-top: 5%;
}
.learnmore{
  display: block;
  padding-left: .1%;
  padding-right: .1%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
}

.ygallery {
  margin-left: 6%;
  margin-top: 5%;
}
.younga {
  text-align: center;
  margin-bottom: 160%;
  margin-top: 5%;
}
div.youngagallery {
  margin: 5px;
  float: left;
  width: 30%;
}
.youngaline {
  border: none;
  padding: .1%;
  background-color: black;
  width: 9%;
  display: block;
}
div.youngagallery img {
  width: 100%;
  height: auto;
}


.project2 {
  text-align: center;
  padding-bottom: 5%;
}
.pimage {
  width: 35%;
  display: inline-block;
  float:right;
  margin-right: 5%;
  margin-top: -30%;
}
.one {
  text-align: left;
  width: 100%;
  margin-top: 3%;
}
.para1 {
  color: black;
  font-size: 120%;
  width: 50%;
  margin-left: 3%;
}
.projecTitle {
  background-color: none;
  margin-top: 3%;
}
.two {
  margin-top: 5%;
  text-align: center;
  font-size: 120%;
}
.button {
  background-color: #FFB94D;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  border-radius: 20px;
  font-size: 150%;
}
.para2 {
  margin-bottom: 5%;
  text-align: left;
  margin-left: 3%;
}
